html {
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
}

aside {
    height: 1000px;
    position: absolute;
    top: 50px;
    right: 40px;

}
.tabela-conquistas {
    height: 410px;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    border: 1px solid rgb(160 160 160);
}
.tabela-conquistas th {
    border-collapse: collapse;
    border: 1px solid rgb(160 160 160);
}
.tabela-conquistas td {
    border-collapse: collapse;
    border: 1px solid rgb(160 160 160);
}
p { font-family: sans-serif;}
.ficha { 
    border-collapse: separate;
    border: 1px solid rgb(160 160 160);
    text-indent: initial;
    border-spacing: 2px;
    padding: 10px;
}
.ficha td {
    display: table-cell;
    vertical-align: inherit;
    unicode-bidi: isolate;
    vertical-align: top;
    text-align: left;
}
.coluna-esquerda {
    text-align: left;
}
.apresentacao, .whatsup {
    width: 980px;
}
.conquistas {
    position: absolute;
    right: 82px;
    top: 850px;

}
.conquistas h3 {text-align: center;}
h4 {color: red;}
h1 {padding-left: 270px;}
.img-cabecalho {
    margin-left: 40px;
    border: 3px solid rgb(160 160 160);
    
}
h3 { border-bottom: 1px solid rgb(160 160 160);}
