html {
    font-family: Raleway, sans-serif;
    background: #F2F2F2;
    color: #000;
    font-size: 18px;
}

.explanation {
    width: 60%;
    border-right: #000 solid 1px;
    padding-right: 2%;
}

.page-wrapper {
    width: 80%;
    max-width: 1280px;
    margin: auto;
    position: relative;
}

#design-archives {
    display: none;
}
#design-selection {
    position: absolute;
    top: 536px;
    left: 64% ;
    padding: 1%;
    padding-right: 1%;
    font-size: 16px;
}

.design-selection li {
    border-top: #000 solid 1px;
    padding-top: 3px;
}
.design-selection li:last-of-type {
    border-bottom: #000 solid 1px;
    padding-bottom: 3px;
}

#zen-intro {
    height: 550px;
}
#zen-intro header {
    background-color: #000;
    color: #F2F2F2  ;
}
#zen-intro header h1, #zen-intro header h2 {
    display: inline-block;
}
#zen-intro header h1 {
    margin-left: 1em;
    margin-right: 1em;
}

.benefits {
    display: flex;
    border-top: #000 solid 1px;
    border-bottom: #000 solid 1px;
}
.benefits h3 {
    order: 2;
    align-self: center;
    flex-basis: 30%;
}
.benefits p {
    flex-basis: 70%;
}

.participation {
    display: flex;
    flex-wrap: wrap;
    border-top: #000 solid 1px;
    border-bottom: #000 solid 1 o;
}
.participation h3 {
    align-self: center;
}
.participation h3, .participation p {
    flex-basis: 50%;
}

aside ul {
    list-style-type: none;
}
aside ul li {
    margin: 1em;
    text-align: center;
}

.main footer {
    margin: 4%;
}
.main footer a {
    border: solid 2px #000 ;
    padding: 0.5em;
    display: inline-block;
}

.supporting footer {
    display: flex;
    justify-content: space-around;
}

p {text-indent: 1em;}
.summary, .summary p {text-align: right;}
abbr {font-variant: small-caps ;}

.main p {line-height: 1.5;}
.main p:first-of-type:first-letter {
    font-size: 3em;
    font-family: 'Helvetica Neue', sans-serif;
    float: left;
}

h1, h2 {
    text-align: center;
}
h1 {
    font-size: 1.8rem;
    color: #CC2031;
}
h2 {
    font-size: 1.4rem;
}
h3 { 
    color: #CC2031;
    font-size: 1.2rem;
    text-align: center;
}

p{
    text-align: left;
}

a {
    color: #dc3545;
    cursor: pointer;
    text-decoration: underline;
}
a:hover {
    color: #6c757d88    ;
}
